name: Build APK Manually

on:
  workflow_dispatch:
    inputs:
      build-type:
        description: 'Build Type (debug or release)'
        required: true
        default: 'debug'
        type: choice
        options:
        - debug
        - release

jobs:
  build-apk:
    runs-on: ubuntu-latest
    outputs:
      filename: ${{ steps.build_apk.outputs.upload_filename }}
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            /usr/local/lib/android
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties' )}}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set up OpenJDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install required platform
        run: sdkmanager "platforms;android-36" "build-tools;35.0.0" "build-tools;34.0.0"

      - name: Replace android.jar
        run: |
          mkdir -p /usr/local/lib/android/sdk/platforms/android-36/
          curl -L https://github.com/Reginer/aosp-android-jar/raw/main/android-36/android.jar > /usr/local/lib/android/sdk/platforms/android-36/android.jar

      - name: Build APK
        id: build_apk
        run: |
          if [[ "${BUILD_TYPE}" = "release" ]]; then
            ./gradlew assembleRelease
            echo "upload_filename=${RUN_ID}-APK" >> $GITHUB_OUTPUT
            echo "build_filename=app-release-unsigned.apk" >> $GITHUB_OUTPUT
          else
            ./gradlew assembleDebug
            echo "upload_filename=${RUN_ID}.debug.apk" >> $GITHUB_OUTPUT
            echo "build_filename=app-debug.apk" >> $GITHUB_OUTPUT
          fi
        env:
          BUILD_TYPE: ${{ inputs.build-type }}
          RUN_ID: ${{ github.run_id }}

      - name: align APK with zipalign
        run: $ANDROID_SDK_ROOT/build-tools/34.0.0/zipalign -v -p 4 app/build/outputs/apk/${BUILD_TYPE}/${FILENAME} app-unsigned-aligned.apk
        env:
          BUILD_TYPE: ${{ inputs.build-type == 'release' && 'release' || 'debug' }}
          FILENAME: ${{ steps.build_apk.outputs.build_filename }}

      # 修正点：去掉了 ${{ }}，直接使用 secrets 判断
      - name: Save keystore as file
        if: secrets.keystore != ''
